<div class="mt-8 text-gray-500">
    <%= render 'shared/profile/item_with_description', 
        subtitle: experience.position,
        title: experience.company,
        start: experience.start,
        end: experience.end,
        description: experience.description
    %>
</div> 